# mkdocs.yml
site_name: Applied ML Project
site_url: https://adriannawebb.github.io/applied-ml-webb/
repo_url: https://github.com/AdriannaWebb/applied-ml-webb
site_description: Professional applied ML project
site_author: Adrianna Webb
docs_dir: docs
site_dir: site

theme:
  name: material
  features:
    - navigation.expand
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - toc.follow

  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true
            show_root_toc_entry: true
            docstring_style: google
            show_signature_annotations: true
            separate_signature: true

markdown_extensions:
  - admonition
  - codehilite
  - tables
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.superfences
  - pymdownx.details

nav:
  - Home: index.md
  - Project 01 (Regression): 
      - Overview: project01/README.md
  - Project 02 (Titanic EDA):
      - Overview: project02/README.md
  - Project 03 (Classification):
      - Overview: project03/README.md
  - Midterm (Mushroom):
      - Overview: midterm-04/README.md
  - Project 04 (Fare Prediction):
      - Overview: project04/README.md
  - Project 05 (Ensemble ML):
      - Overview: project05/README.md
